* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: bisque;
}
.container {
  width: 1100px;

  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  display: flex;
  gap: 10px;
}
ul > li {
  list-style: none;
}
ul > li > a {
  text-decoration: none;
  color: rgb(26, 27, 27);
}
ul > li > a:hover {
  text-decoration: underline;
}
nav {
  align-items: center;
  display: flex;
}

/* MAİN */

.container-m {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}
.item1 {
  flex: 2;
  margin-right: 30px;
}
.item1 > img {
  width: 100%;
}
.item2 {
  background-color: black;
  flex: 1;
}
article {
  display: flex;
}
article > div > h2 {
  font-size: 3rem;
  padding: 20px 0 0;
}
article > div {
  flex: 1;
}
.a-div {
  padding: 32px 20px 20px 20px;
}
.a-div > a {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  background-color: red;
  padding: 8px 20px;
  border-radius: 5px;
  color: #f1eeee;
}
aside > h2 {
  color: yellow;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  padding: 10px;
  font-size: 2rem;
}
aside > .items {
  padding: 10px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}
aside > .items > p {
  padding: 10px;
}
/* HELPER */
.bt-none {
  border-bottom: none !important ;
}
